#front{
    padding-top: 10px;
    display: block;
    text-decoration: none;
    background-color: #F1FFE7;
    border: 3px #FF9933 solid ;
    margin: 100px 0px;
}

#back {
    display: block;
    padding-top: 10px;
    text-decoration: none;
    background-color: #F1FFE7;
    border: 3px #FF9933 solid ;
}


p{
    color: #12263A;
    font-size: 130px;
    text-align: center;
    margin: 0 !important;
}
#front:hover, #back:hover {
    background-color: #C2E7DA;
}