#front{
    display: block;
    text-decoration: none;
    padding: 100px 0;
    background-color: #F1FFE7;
    border: 3px #FF9933 solid ;
    margin-bottom: 100px;
}

#back {
    display: block;
    text-decoration: none;
    padding: 100px 0;
    background-color: #F1FFE7;
    border: 3px #FF9933 solid ;
    margin-bottom: 100px;
}


p{
    color: #12263A;
    font-size: 130px;
    text-align: center;
}
#front:hover, #back:hover {
    background-color: #C2E7DA;
}