.body-box{
    width: 80%;
    margin: 0 auto;
}
html {
    font-size: 100%;
    font-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252a32;
    background: #fff;
}
a, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}
img, video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.container {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}
.text {
    font-family: inherit;
    font-weight: 700;
    line-height: inherit;
    text-rendering: optimizeLegibility;
}
.text-title {
    font-size: 1.25rem;
    color: #d32f2f;
}
.paragraph {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    margin: 0.25rem 0;
    color: #252a32;
    text-transform: unset;
    text-rendering: optimizeLegibility;
}
.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main .scroll {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin: 2.5rem 0;
    cursor: default;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 1.25rem;
    scrollbar-width: none;
}
.main .scroll::-webkit-scrollbar {
    display: none;
}
.main .scroll.active {
    cursor: grab;
    cursor: -webkit-grab;
}
.main .scroll .card {
    width: 16rem;
    height: auto;
    flex: 0 0 auto;
    margin: 0 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: #252a32;
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.main .scroll .card-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 110%;
}
.main .scroll .card-image img.responsive {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .scroll .card-inner {
    width: 100%;
    height: auto;
    padding: 1rem;
}
