#header {
    margin-bottom: 80px;
}

body{
    background-color: #F1FFE7;
    color: #12263A !important;
}

html{
    height:100%;
}
body{
    min-height:100%; padding:0; margin:0; position:relative;
}

body::after{
    content:''; display:block; height:100px;
}

.mynav{
    background-image: url('../img/bg-nav.jpg');
    height:500px;
}
.navbar{
    background-color: #12263A !important;
}

.navbar-dark .navbar-toggler{
    color: #F1FFE7 !important;
    border-color: #F1FFE7 !important;
}
.navbar .navbar-brand{
    font-weight: bolder;
    font-size: 1.3em;
    color: #F1FFE7 !important;
}
.navbar-toggler-icon{
    color: #F1FFE7 !important;
}

.nav-link{
    color: #F1FFE7 !important;
}

.navbar .navbar-nav{
    margin : 0 auto;
}

.navbar-collapse{
    align-items: flex-end !important;
}

.navbar .dropdown-menu{
    background-color: rgba(0,0,0,0.3);
}
.dropdown-item:hover{
    background-color: rgba(0,0,0,0.3);
}
.navbar form button{
    background-color: indigo;
    color:#FFF;
    border:0;
}

.btn{
    color: #ff9933;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

#canvas1 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-control{
    background-color: rgba(255, 255, 255, 0) !important;
}

.card-body{
    background-color: #F1FFE7 !important;
}
.btn-outline-success{
    color: #FF9933 !important;
    border-color: #FF9933 !important;
}



.btn-outline-success:hover {
    color: #F1FFE7 !important;
    background-color: #FF9933 !important;
    border-color: #FF9933 !important;
}

.tab-pane {
    margin: 20px;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #12263A

}

.copyright-area{
    background: #12263A;
    padding: 25px 0;
}
.copyright-text p {
    font-size: 14px;
    color: #878787;
}
.copyright-text p a{
    color: #F1FFE7;
}

.copyright-text p a:hover{
    color: #FF9933;
}

.footer-menu ul {
    display: flex;
}
.footer-menu li {
    margin-left: 20px;
}
.footer-menu li a:hover{
    color: #FF9933;
}
.footer-menu li a {
    font-size: 14px;
    color: #F1FFE7;
}

.me-auto{
    margin-right: 0 !important;
}

.form-select{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: #ffffff00 !important;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px !important;
    border: 2px solid #333 !important;
}

.select2-dropdown {
    background-color: #F1FFE7 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #12263A !important;
    color: #F1FFE7 !important;
}

.box-intro {
    width: 100%;
    height: auto;
    background-color: #F1FFE7;
    padding: 20px;
}