{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block TitrePage%}
    Accueil
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    <div class="container">
        <h1>Welcome at Dico Web </h1>
       <img src="{{ asset('upload/example.jpg') }}" class="img-fluid" alt="abstract photo">
    </div>
        <h3 class="mt-4"> Sed ut ex orci. Suspendisse vel urna in massa lacinia luctus. Vivamus pretium mauris consequat sollicitudin ultrices. Phasellus ultricies ac quam ac porttitor. Aliquam tempus tortor ut sapien pharetra, vel venenatis metus consectetur. Donec dignissim lacus at tempus pretium. Fusce tincidunt, lectus vitae posuere viverra, odio nulla imperdiet lectus, ac gravida elit leo eget libero. Praesent elementum, dolor ac hendrerit ultrices, mauris enim dignissim nulla, in auctor odio velit nec metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </h3>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-warning btn-lg">Get Started</button>
    </div>
    <div class="card-group mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui tellus cursusin netus. Pretiumsed orci ad nulla. Feugiatvivamus adipiscing interdum tortorquisque elit lectus litora fringillaquisque, pharetra volutpat. Lacus dis mivivamus platea massa loremvivamus fames, fringillaquisque urna. Arcususpendisse lacusvestibulum dignissimcurabitur fusce rhoncus, lacus iaculis. Lobortisduis purus facilisiaenean auctor parturient viverrapraesent risus mattisaliquam, id turpisquisque. Imperdiet sedut odiovestibulum ridiculus ullamcorper porttitor, loremmorbi nonetiam. Facilisi viverrapraesent ultricies. Himenaeos facilisi commodo consectetur blandit vivamus curae;, at sollicitudin. Eleifendnam bibendum risus venenatis varius consequatvestibulum, convallis sedut.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui tellus cursusin netus. Pretiumsed orci ad nulla. Feugiatvivamus adipiscing interdum tortorquisque elit lectus litora fringillaquisque, pharetra volutpat. Lacus dis mivivamus platea massa loremvivamus fames, fringillaquisque urna. Arcususpendisse lacusvestibulum dignissimcurabitur fusce rhoncus, lacus iaculis. Lobortisduis purus facilisiaenean auctor parturient viverrapraesent risus mattisaliquam, id turpisquisque. Imperdiet sedut odiovestibulum ridiculus ullamcorper porttitor, loremmorbi nonetiam. Facilisi viverrapraesent ultricies. Himenaeos facilisi commodo consectetur blandit vivamus curae;, at sollicitudin. Eleifendnam bibendum risus venenatis varius consequatvestibulum, convallis sedut.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui tellus cursusin netus. Pretiumsed orci ad nulla. Feugiatvivamus adipiscing interdum tortorquisque elit lectus litora fringillaquisque, pharetra volutpat. Lacus dis mivivamus platea massa loremvivamus fames, fringillaquisque urna. Arcususpendisse lacusvestibulum dignissimcurabitur fusce rhoncus, lacus iaculis. Lobortisduis purus facilisiaenean auctor parturient viverrapraesent risus mattisaliquam, id turpisquisque. Imperdiet sedut odiovestibulum ridiculus ullamcorper porttitor, loremmorbi nonetiam. Facilisi viverrapraesent ultricies. Himenaeos facilisi commodo consectetur blandit vivamus curae;, at sollicitudin. Eleifendnam bibendum risus venenatis varius consequatvestibulum, convallis sedut.</p>
            </div>
        </div>
    </div>


{% endblock %}